<!DOCTYPE html>
<html>
 <head>
   <title>students api</title>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   <script type="text/javascript">
    $('.apireq').click( function() {
        $.ajax({
                 url : "tenant",
                 dataType: "json",
                 success : function (data) {
                          $('#emp_id').text( data[0].emp_id);
                          $('#emp_name').text( data[0].emp_name);
                        }
                     });
                 });
    </script>
 </head>
<body>
<div>
   <button class="apireq">click me </button>
</div>
<div id="jsonresp" style="margin-top: 100px">
   <p><label> Employee ID :</label> <span id="emp_id"></span></p>
   <p><label> Employee Name :</label> <span id="emp_name"></span></p>
</div>
</body>
</html>